
  .assetRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 9px;
    background-color: rgba(253, 250, 247, 0.4);
    height: 118px;
    flex-shrink: 0;
    margin-top: 5px;
    margin-right: 19px;
    width: 502.807px;
  }

  .assetLogo {
    margin-top: 34.5px;
    margin-bottom: 34.5px;
    position: absolute;
  }

  .asseteRate {
    color: #00BF2A;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 24px */
  }

  .assetName {
    position: absolute;
    margin-left: 86px;
    margin-top: 38px;
    margin-bottom: 38px;
    color: #4A423A;
    text-align: center;
    font-family: Manrope;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 35px */
    height: 42px;
    width: 75px;
  }

  .assetName:first-child {
    margin-left: 0px;
  }

  .assetApy {
    margin-left: 196px;
    margin-top: 46.5px;
    margin-bottom: 46.5px;
    color: #4A423A;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 24px */
  }
  
  .assetRow:last-child {
    border-bottom: none;
  }
  
  .assetSupplyButton {
    background-color: rgb(255, 159, 159, 0.3);
    border-radius: 9px;
    width: 110px;
    height: 63px;
    border: none;
    color: #4A423A;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 20px */
  }

  
  