.borrowbox {
  padding: 20px;
  position: absolute;
  background-color: rgba(253, 250, 247, 0.5);
  margin-top: 70px;
  right: 0px;
  top: 222px;
  width: 541px;
  height: 533px;
  flex-shrink: 0;
}
.headerRow {
  display: flex;
  justify-content: space-between;
}

.borrowTitle{
  margin-top: 25px;
  margin-left: 144px;
  margin-right: 144px;
}

.headerRow span {
  flex: 0.2;
  text-align: left;
}
